html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(13, 17, 23);
}

a {
  color: rgb(87, 164, 252);
  text-decoration: underline;
  margin-bottom: 5px;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(233, 239, 245);
}
button {
  /* background-color: rgb(233, 239, 245); */
  border: 1px solid rgb(233, 239, 245);
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 10px;
}

button:hover {
  background-color: rgb(201, 209, 217);
  color: rgb(0, 0, 0);
}

button:active {
  background-color: rgb(87, 164, 252);
  color: rgb(0, 0, 0);
  transform: scale(0.9);
  border-color: transparent;
}

span {
  font-weight: bold;
  color: rgb(87, 164, 252);
}

@media (max-width: 1000px) {
  html {
    display: flex;
  }
}
