.outerContainer {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;

  justify-content: center;
}

.container {
  width: " 100px";
  height: "100px";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(233, 239, 245);
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(22, 27, 34);
}

.container h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
  color: rgb(201, 209, 217);
}
.container p {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(201, 209, 217);
}

.avatarImage {
  width: "60px";
  height: "60px";
  margin: 10px;
  display: block;
  border-radius: 5%;
}

.pageInput {
  margin: 5px;
}

.searchInput {
  width: 500px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgb(233, 239, 245);
  background-color: rgb(13, 17, 23);
  border-radius: 5px;
  font-size: 2em;
  font-weight: bold;
  color: rgb(201, 209, 217);
  text-align: center;
}
.numberInput {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgb(233, 239, 245);
  background-color: rgb(13, 17, 23);
  border-radius: 5px;
  font-size: 2em;
  font-weight: bold;
  color: rgb(201, 209, 217);
  text-align: center;
}
.main {
  min-height: 100vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(233, 239, 245);
}
.userLabel {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(201, 209, 217);
}

.nav {
  background-color: rgb(22, 27, 34);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 27, 34);
  margin-top: 0px;
}

.easterEgg {
  justify-content: center;
  align-items: center;
}

.nonActiveButton {
  background-color: rgb(95, 95, 95);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(156, 156, 156);
  padding: 5px;
  margin: 10px;
}

.over9000Image {
  width: 150px;
  height: 150px;
  margin: 10px;
  display: block;
  border-radius: 50%;
  opacity: 0.1;
}

.over9000Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 27, 34);
}

@media (max-width: 1000px) {
  .outerContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: "100px";
    height: "100px";
    margin: 5;
  }
  .main {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchInput {
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav {
    text-align: center;
  }
}
